.header {
  width: 100%;
  background-color: darkslategrey;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-logo {
    height: 60px;
    padding: 10px;

  }

  &-menu {
    display: flex;
    padding: 10px;

    &-link {
      margin: 0 10px;
    }
  }

}

.toggleInput {
  margin: 5px;
  width: 80px;
  height: 30px;
  background: #1890ff;
  -webkit-appearance: none;
  border-radius: 20px;
  outline: none;
  transition: .4s;

}

.toggleInput:checked {
  background: lightgreen;
}

.toggle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  position: absolute;
  color: black;
  pointer-events: none;
}

.onbtn {
  display: flex;
  justify-content: center;
}
