
.switch{
    /*transform: translate(-50%, -50%);*/
    top: 50%;
    left: 50%;

}
input {
    width: 80px;
    height: 40px;
    -webkit-appearance: none ;
    outline: none;
    background: #c6c6c6;
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: 0 0 5px rgba(0,0,0,.2);

}
input:checked {
    background: lightgreen;
}